h1 {
  text-align: center;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: auto;
}

.buscador {

}

h1 {
  color: green;
}

